<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>專案詳情 - WBS 管理系統</title>
  <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="layout">
  <div th:replace="~{fragments/sidebar :: sidebar}"></div>
  <main class="main-content">
    <div id="detail-app" th:data-project-id="${projectId}" th:data-can-write="${canWrite}">
      <p>載入中...</p>
    </div>
  </main>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
